	<header class="component" role="banner">
            <nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img id="orange_logo" src="./assets/images/logo-orange.png" alt=''/>
						<span id="app_name">&nbsp; <span class="sr-only">Homepage</span></span>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-menu nav-shift">
						<li class="nav-item"><a href="#" title="open the news menu">dashboard</a></li>
						<li class="nav-item"><a href="#" title="open the news menu">manage</a></li>
						<li class="nav-item"><a href="#" title="open the news menu">parameters</a></li>
						<li class="nav-item" id="id_for_cdu_link"></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item">
							<a href="#" class="dropdown-toggle active" data-toggle="dropdown">
								<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
								<span class="hidden-xs hidden-sm">&nbsp;language</span>&nbsp;<b class="caret" aria-hidden="true"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">français</a></li>
								<li><a href="#">english</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="#" class="dropdown-toggle active" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<span class="hidden-xs hidden-sm">&nbsp;hello 
									<span class="orange">admin</span>&nbsp;
								</span><b class="caret" aria-hidden="true"></b>

							</a>
							<ul class="dropdown-menu">
								<li><a href="#">logout</a></li>
								<li><a href="#">preferences</a></li>
							</ul>
						</li>
					</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		</header>
